*{
  margin: 0;
  padding: 0;
}
.my-component{
  width: 100%;
  background-color: rgb(240, 240, 98);
}
.write{
  text-align: center;
  width: 100%; 
  padding-top: 8%;
  color: black;
}
.image img{
  width: 31%;
  margin-left: 1%;
  margin-top: 2%;
}
.logo img{
  width: 15%;
  border-radius: 50%;
  margin-left: 10%;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(43, 42, 42), rgb(143, 140, 140));
  height: 10vh;
  width: 100%;
  position: fixed;
}
.navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.navbar ul li a{
  text-decoration: none;
  margin-right: 200px;
  color: white;
  width: 100%;
}
.navbar ul li a:hover{
  color: rgb(253, 253, 115);
}
.image{
  margin-top: 5%;
  padding-bottom: 5%;
}

footer{
  background: black;
  color: white;
}
.foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright{
  align-items: center;
  margin-left: 40%;
  margin-top: 4%;
  width: 31%;
}
.col1{
  margin-top: 3%;
  width: 31%;
}

.col1 ul{
  list-style-type: none;
  margin-top: 2%;
}
.col1 ul li:hover{
  color:rgb(253, 253, 115);
  cursor: pointer;
  transform: translateX(10px);
  transition: .4s;
}







/* In your CSS file */
@media (max-width: 768px) {
  /* Styles for tablets and smaller */
  .my-component {
    width: 100%;
  }
  .image img{
    width: 45%;
  }
  .col1{
    width: 45%;
  }
  .copyright{
    width: 45%;
  }
  .header{
    display: block;

  }
  .logo img{
    width: 5%;
    align-items: center;
    margin-left: 250px;
  }
}

@media (max-width: 576px) {
  /* Styles for mobile devices */
  .my-component {
    padding: 10px;
  }
  .image img{
    width: 91%;
  }
  .col1{
    width: 91%;
  }
  .copyright{
    width: 91%;
  }
  .header{
    display: block;
    
  }
  .logo img{
    width: 6%;
    align-items: center;
    margin-left: 250px;
  }
  .navbar ul li a{
    width: 31%;
  }
}

;

